body {
  background-color: hsla(50, 11%, 40%, 0.418);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background-color: #3d413e;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#display {
  width: 96%;
  height: 40px;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  justify-content: center;
}

button {
  height: 40px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  background-color: #206e38;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button.operator {
  background-color: #13a142;
}